[submodule "practica5/FooProject/practica5/MyArduinoProject"]
	path = practica5/FooProject/practica5/MyArduinoProject
	url = https://github.com/ladislas/Bare-Arduino-Project
[submodule "practica5/MyArduinoProject2"]
	path = practica5/MyArduinoProject2
	url = https://github.com/ladislas/Bare-Arduino-Project
